################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
#########################################
# Buildout settings
# Modify at your own risks
#########################################
[buildout]
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part

[versions]

[part]
recipe = minitage.recipe.cmmi
url = http://gentoo.tiscali.nl/distfiles/xz-5.0.3.tar.gz
md5sum = fefe52f9ecd521de2a8ce38c21a27574
configure-options=
[mirrors]

